[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
flask-cors = "*"
gunicorn = "*"
cloudinary = "*"
requests = "*"
requests-toolbelt = "*"
flask-admin = "*"
flask-basicauth = "*"
python-dateutil = "*"
flask-sslify = "*"
marshmallow = "==3.0.0b13"
sentry-sdk = {extras = ["flask"],version = "==0.7.4"}
pip = "*"
jinja2 = "*"
python-dotenv = "*"
psycopg2-binary = "*"
freezegun = "*"
requests-mock = "*"
pytest-postgresql = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
pytest = "*"
pdbpp = "*"
pylint = "*"
"flake8" = "*"
requests-mock = "*"
mypy = "*"
colorama = {version = "*", sys_platform = "== 'win32'"}
isort = "*"

[requires]
python_version = "3.7"

[scripts]
flake8 = "flake8 server tests"
start = "env FLASK_ENV=development flask run --host=0.0.0.0"
shell = "ipython -i server/scripts/shell.py"
test = "py.test tests"

[pipenv]
allow_prereleases = true
