[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
flask-cors = "*"
gunicorn = "*"
"psycopg2" = "*"
cloudinary = "*"
requests = "*"
requests-toolbelt = "*"
flask-admin = "*"
raven = {version = "*", extras = ["flask"]}

[dev-packages]
ipython = "*"
ipdb = "*"
pytest = "*"
pdbpp = "*"

[requires]
python_version = "3.6"

[scripts]
start = "flask run"
shell = "ipython -i scripts/shell.py"
