[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
flask-cors = "*"
gunicorn = "*"
cloudinary = "*"
requests = "*"
requests-toolbelt = "*"
flask-admin = "*"
flask-basicauth = "*"
python-dateutil = "*"
flask-sslify = "*"
marshmallow = "==3.0.0b13"
sentry-sdk = {version = "*", extras = ["flask"]}
"psycopg2" = "*"
pip = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
pytest = "*"
pdbpp = "*"

[requires]
python_version = "3.6"

[scripts]
start = "flask run"
shell = "ipython -i scripts/shell.py"

[pipenv]
allow_prereleases = true
