/* :root { */
/*   --primary: #434d59; */
/*   --secondary: #f3e2d8; */
/*   --burnt-orange: #b23322; */
/*   --crimson: #9c2b1c; */
/*   --pastel-yellow: #f1e4b8; */
/*   --teal-gray: #6e8c8e; */
/*   --off-black: #343a49; */
/*   --dark: #1c2231; */
/*   --gray: #666a76; */
/* } */
html,
body,
#root {
  height: 100%;
}
.App-body {
  max-width: 850px;
  margin: 0 auto;
  padding: 20px;
}

#background {
  height: calc(100%);
  height: calc(100% - 100px);
  background: url('https://i.imgur.com/sfsm06I.png');
  background-size: cover;
  width: 100%;
  overflow: auto;
  z-index: -1;
  margin-bottom: 3em;
}

.Home {
  height: 100%;
}

.button {
  border-radius: 6px;
  border: 1px solid lightgrey;
  text-decoration: none;
  color: black;
  line-height: 1.5em;
  display: inline-block;
  font-size: 16px;
  padding: 15px 32px;
  margin: 5px 0px;
  background: white;
  cursor: pointer;
}

.button:enabled {
  border: 1px solid black;
}
.button:hover:enabled {
  background: #f1e4b8;;
}
.button:disabled {
  color: lightgrey;
  cursor: default;
}

.header-inner {
  margin: 0 auto;
}

.App {
  height: 100%;
  width: 100%;
  background-size: cover;
}
.App-intro {
  background: rgba(255, 255, 255, 0.8);
  padding: 3em;
  margin-top: 150px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.App-header {
  border-bottom: 3px solid #9c2b1c;
  background: #9c2b1c;
  width: 100%;
}

.App-title {
  color: white;
  display: inline;
  text-decoration: none;
  margin: 10px;
}
.App-title:hover {
  color: white;
}

.App-title h1 {
  font-size: 1.5em;
  padding: 1em;
  margin: 0px;
  display: inline-block;
}

.profile-image {
  border-radius: 100%;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
}

.profile-result .profile-image {
  padding: 20px;
}

input[type='text'],
input[type='email'] {
  box-sizing: border-box;
  font-size: 22px;
}

.fullWidth {
  width: 100%;
}

.contact {
  width: 250px;
}

.expectation {
  margin-bottom: 1em;
}
.about {
  width: 450px;
}

@media screen and (min-width: 750px) {
  .columns {
    display: flex;
  }
  .about {
    padding-left: 50px;
  }
}

.profile-result {
  cursor: pointer;
  display: flex;
  text-decoration: none;
  transition: all 0.4s;
  color: black;
}

.profile-result-right {
  margin-left: auto;
  padding: 10px;
}

.profile-result:hover {
  box-shadow: 0 0 2px rgba(35, 173, 255, 1);
}

.interest {
  display: inline-block;
  border: 1px solid #b9d7fd;
  line-height: 1.4em;
  padding: 2px 6px;
  vertical-align: middle;
  margin: 2px;
  background: #edf4fe;
  color: #007eff;
}

.clinical-interest {
  border: 1px solid #b9d7fd;
  line-height: 1.4em;
  vertical-align: middle;
  padding: 2px 5px;
  margin: 2px;
  background: #d5f5e3;
  color: #186a3b;
}

.search {
  margin-bottom: 1em;
}

.search-input {
  line-height: 34px;
  font-size: 16px;
  vertical-align: middle;
}

.search-submit {
  margin: 0px 10px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  display: inline-block;
  font-size: 16px;
  padding: 10px 32px;
  background: white;
  cursor: pointer;
}
.search-submit:hover {
  background: #f1e4b8;
}

/* .next-button { */
/*   text-align: center; */
/* } */

/* .slick-dots li button:before { */
/*   font-size: 10px !important; */
/* } */

.slick-slider {
  margin: 40px;
}

.expectation div {
  margin: 40px 100px 0px;
  font-size: 17px;
  line-height: 1.5;
}
.Home section {
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 3em;
}

.cadence {
  margin-bottom: 20px;
}

.cadence label {
  margin: 10px;
}

input[disabled]:checked {
  box-shadow: 0px 0px 0px 2px #b23322;
}

.available-for-mentoring {
  margin-top: 25px;
  margin-right: 25px;
  float: right;
  /* display: inline; */
}

.switch.on {
  background: #007aff;
  transition: all 0.5s;
}

.switch {
  vertical-align: middle;
  margin: 0px 20px;
}

.grayed-out {
  color: lightgray;
}

.profile-contact h4 {
  margin-bottom: 0.5em;
}

.profile-contact p {
  margin-top: 0.2em;
}

.App-body h3 {
  margin-top: 2em;
}

.contact-block {
  margin-left: 50px;
}

h3 a,
h4 a {
  text-decoration: none;
}

.user-tip {
    padding-top: 2em;
    font-size: 14px;
    color: gray;
}

.avatar {
    width: 200px;
}
