name: mypy

on: push

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14.3

      - name: Install dependencies
        run: |
          python -m pip install poetry
          poetry install
        env:
          CI: 1

      - name: Check types with mypy
        run: |
          poetry run mypy app.py server tests
